
<div id="dashboard">
    <section class="dash-row">
  
      <mat-card id="card-0-2">
        <mat-card-title >
          Edit and Update in table user list.
        </mat-card-title>
        <mat-card-subtitle>users edit and update section.</mat-card-subtitle>
        <app-list></app-list>
        </mat-card>


        <mat-card id="card-0-2">
        <mat-card-title >
          Pie Chart
        </mat-card-title>
        <mat-card-subtitle>display the chart table in pie chart</mat-card-subtitle>
        <app-update></app-update>
        </mat-card>
    </section> 
  </div>
  
  